* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
}

a {
  text-decoration: none;
}

/* ===============================
              HEADER 
================================= */

header {
  background-color: #fafafa;
  text-align: center;
  font-weight: 300;
  padding-bottom: 50px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  padding: 25px 0;
}

.profile {
  font-size: 1.5rem;
  color: #7f7f7f;
  padding: 0 22px;
}

.profile-img {
  margin: 42px 0 27px;
}

/* --------- NAV ----------*/

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
nav {
  margin-right: 15px;
  margin-left: 15px;
}

nav li {
  text-align: center;
	background: #fff;
  margin-top: 6px;
  padding: 15px;
  list-style: none;
  border: 1px solid #f3f3f3;
  border-radius: 2px;
  transition: .25s ease-in-out;
}

nav li a {
  display: block;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 700;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ===============================
            MAIN SECTION 
================================= */

main {
  padding: 50px 22px 0;
  margin: 0 auto;
  max-width: 1200px;
}

.portfolio-heading {
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.section-img {
  width: 100%;
}

.section-title {
  font-size: 2rem;
  font-weight: 400;
  margin: 35px 0 25px;
  text-align: center;
}

.section-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 65px;
}

footer {
  background-color: #fafafa;
  padding: 65px 22px 0;
}

.contact {
  text-align: center;
  color: #7f7f7f;
  font-size: 1.5rem;
  width: 95%;
  margin: 0 auto;
}

.contact-footer-title {
  color: #4a4a4a;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;

}

.contact-info a {
  font-weight: 700;
  color: #7f7f7f;
}

.bottom-footer {
  border-top: 1px solid #e7e7e7;
  margin-top: 65px;
  padding: 30px 0;
  color: #4a4a4a;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer-logo {
  float: left;
  margin: 0;
}

.back-to-top a {
  float: right;
  margin-top: -20px;
  color: #4a4a4a;
  font-size: 1.3rem;
  font-weight: 700;
}

@media (min-width: 768px) {

  nav li {
    display: inline-block;
    background: none;
    border: none;
    padding: 0 15px;
  }

  nav li a:hover {
    color: #7f7f7f;
    transition: .25s ease-in-out;
  }

  .profile {
    max-width: 1200px;
    margin: 70px auto 0;
  }

  .profile-img {
    width: 40%;
    float: right;
    margin: 0;
  }

  .profile-img img {
    width: 100%;
  }

  .profile-intro {
    width: 55%;
    float: left;
    margin: 0 5% 0 0;
    text-align: left;
  }

  .contact {
    width: 80%;
  }

  .multi-column {
    width: 48.5%;
    float: left;
  }

  .multi-column:nth-of-type(2n) {
    margin-left: 3%;
  }
}

@media (min-width: 1024px) {
  
  .main-nav {
    display: inline-block;
    width: 1200px;
    margin: 0 auto;
    padding-top: 57px;
  }

  header h1 {
    float: left;
    padding: 0 0 0 22px;
  }

  nav {
    float: right;
  }

  nav li {
    padding-top: 8px;
  }

  .profile {
    margin-top: 50px;
  }

  .multi-column:nth-of-type(2n) {
    margin-left: 0;
  }

  .contact {
    width: 65%;
  }

  .multi-column {
    width: 32%;
    float: left;
  }

  .multi-column:nth-of-type(3n + 0),
  .multi-column:nth-of-type(3n - 1) {
    margin-left: 2%;
  }

}