* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
}

a {
  text-decoration: none;
}

/* ===============================
              HEADER 
================================= */

header {
  background-color: #fafafa;
  text-align: center;
  font-weight: 300;
  padding-bottom: 50px;
}

header h1 {
  margin: 0;
  padding: 25px 0;
}

/* header,
nav{
  padding: 0 15px;
} */

main {
  padding: 0 15px 40px;
}

.profile {
  font-size: 1.5rem;
  color: #7f7f7f;
  padding: 0 22px;
}

.profile-intro {
  /* margin: 0 22px; */
}

.profile-img {
  margin: 42px 0 27px;
}

/* --------- NAV ----------*/

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
nav {
  margin-right: 15px;
  margin-left: 15px;
}

nav li {
  text-align: center;
	background: #fff;
  margin-top: 6px;
  padding: 15px;
  list-style: none;
  border: 1px solid #f3f3f3;
  border-radius: 2px;
  transition: .25s ease-in-out;
}

nav li:hover {
  background: #f3f3f3;
  border: 1px solid #7f7f7f;
}

nav li a {
  display: block;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 700;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ===============================
            MAIN SECTION 
================================= */

h2.portfolio-heading {
  text-align: center;
}








@media (min-width: 768px) {


  header h1 {
    padding-top: 57px;
    padding-bottom: 27px;
  }

  nav li {
    display: inline-block;
    background: none;
    border: none;
    padding: 0 15px;
  }

  nav li:hover {
    background: none;
    border: none;

  }

  nav li a:hover {
    color: #7f7f7f;
  }

  .profile {
    max-width: 1200px;
    margin: 70px auto 0;
    
  }

  .profile-img {
    width: 45%;
    float: right;
    margin: 0;
  }

  .profile-img img {
    width: 100%;
  }

  .profile-intro {
    width: 50%;
    float: left;
    margin: 0 5% 0 0;
  }

}