* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4a4a;
}

a {
  text-decoration: none;
}

/* ===============================
              HEADER 
================================= */

header {
  background-color: #fafafa; /* change to #add8e6  */
  text-align: center;
  font-weight: 300;
  padding-bottom: 50px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  padding: 25px 0;
}

.profile {
  font-size: 1.5rem;
  color: #7f7f7f;
  padding: 60px 22px 0;
}

.profile-img img {
  max-width: 100%;
}

.profile-intro {
  margin-top: 30px;
}

/* --------- NAV ----------*/

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
nav {
  margin-right: 1.5625rem; /* 25px / 16 */
  margin-left: 1.5625rem;
}

nav li {
  text-align: center;
	background: #fff;
  margin-top: 6px;
  padding: 15px;
  list-style: none;
  border: 1px solid #f3f3f3;
  border-radius: 2px;
  transition: .25s ease-in-out;
}

nav li a {
  display: block;
  color: #4a4a4a;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* ===============================
            MAIN SECTION 
================================= */

.portfolio-heading {
  text-align: center;
  padding: 50px 0;
  font-size: 2.5rem;
}

.main-container {
  padding: 0 1.5625rem;;
  text-align: center;
}

.section-img {
  width: 100%;
}

.section-title {
  margin: 25px 0 20px;
  font-size: 1.5em;
}

.section-text {
  padding: 0 25px 60px;
  font-size: 1.25rem;
}

.main-footer {
  background-color: #fafafa;
  padding: 65px 25px 20px;
  font-size: 1.2em;
}

.contact-footer-title {
  color: #4a4a4a;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.contact-footer-text {
  text-align: center;
  margin-bottom: 30px;
}

.contact-info {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info span a {
  font-weight: 700;
  color: #7f7f7f;
}

.bottom-footer {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid #e7e7e7;
  color: #4a4a4a;
  font-weight: 700;
}

.footer-logo {
  float: left;
}

.back-to-top a {
  float: right;
  color: #4a4a4a;
}

/* ========================================
              MEDIA QUERIES 
========================================== */

@media (min-width: 768px) {

  .main-nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li {
    display: inline-block;
    background: none;
    border: none;
    padding: 0 15px;
  }

  nav li a:hover {
    color: #FFF;
    transition: .25s ease-in-out;
  }

  .profile {
    max-width: 1200px;
    margin: 0 auto;
  }

  .profile-img {
    width: 40%;
    float: right;
    margin: 0;
  }

  .profile-img img {
    width: 100%;
  }

  .profile-intro {
    width: 55%;
    float: left;
    margin: 0 5% 0 0;
    text-align: left;
  }

  .main-container,
  .contact,
  .bottom-footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .main-footer {
    margin-top: 50px;
  }

  .contact-footer-text p {
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    max-width: 550px;
    margin: 0 auto;
  }

  .multi-column {
    width: 48.5%;
    float: left;
  }

  .multi-column:nth-of-type(2n) {
    margin-left: 3%;
  }

  .multi-column {
    height: 475px;
  }

}

@media (min-width: 1024px) {

  .multi-column:nth-of-type(2n) {
    margin-left: 0;
  }

  .multi-column {
    width: 32%;
    float: left;
  }

  .multi-column:nth-of-type(3n + 0),
  .multi-column:nth-of-type(3n - 1) {
    margin-left: 2%; /* (100% - (3 * 32%)) / 2 */
  }

  .main-nav {
    padding-top: 60px;
  }

  nav {
    float: right;
  }

  header h1 {
    float: left;
    padding: 0 0 0 22px;
  }
}



/* @media (min-width: 768px) {

  nav li {
    display: inline-block;
    background: none;
    border: none;
    padding: 0 15px;
  }

  nav li a:hover {
    color: #7f7f7f;
    transition: .25s ease-in-out;
  }

  .profile {
    max-width: 1200px;
    margin: 0 auto;
  }

  .profile-img {
    width: 40%;
    float: right;
    margin: 0;
  }

  .profile-img img {
    width: 100%;
  }

  .profile-intro {
    width: 55%;
    float: left;
    margin: 0 5% 0 0;
    text-align: left;
  }

  .section-text {
  padding: 0 30px;
  }

  .contact {
    width: 80%;
  }

  .multi-column {
    width: 48%;
    float: left;
  }

  .multi-column:nth-of-type(2n) {
    margin-left: 4%;
  }
}

@media (min-width: 1024px) {
  
  .main-nav {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 57px;
  }

  header h1 {
    float: left;
    padding: 0 0 0 22px;
  }

  nav {
    float: right;
  }

  nav li {
    padding-top: 8px;
  }

  .section-text {
    padding-left: 10px;
    }

  .multi-column:nth-of-type(2n) {
    margin-left: 0;
  }

  .multi-column {
    width: 32%;
    float: left;
  }

  .multi-column:nth-of-type(3n + 0),
  .multi-column:nth-of-type(3n - 1) {
    margin-left: 2%;
  }
} */